//Home page rendered to HTML upon GET request


doctype html
html
  head
    script.
      var randomName;
      var matchesArray;     
      var index=0;       //used to iterate through search results
      
      
    title What the Food!?
    meta(charset='windows-1252')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      body
      {
      background: url("/images/wtflogo.jpg");
      background-repeat: no-repeat;
      background-size: 550px 320px;
      background-position: 50% 5%;
      }
      
      #YelpLogo
      {
      position:absolute;
      top:37%;
      left:60%;
      }
      
      #Location
      {
      position:absolute;
      top:50%;
      left:20%;
      width:100px;
      height:15px;
      }
      
      #ZipCode
      {
      position:absolute;
      top:-199%;
      left:0%;
      width:135px;
      height:15px;
      font:Helvetica;
      font-size:15px;
      padding:10px;
      border: solid 5px #53b4fd;
      transition:box-shadow 0.3s, border 0.3s;
      }
      
      #INeed
      {
      position:absolute;
      top:73%;
      left:20%;
      width:100px;
      height:15px;
      }
      
      #FormCategories
      {
      position:absolute;
      top:85%;
      left:20%;
      font:Arial;
      font-size:12px;
      text-align:center;
      padding:5px;
      border: solid 5px #53b4fd;
      width:146px;
      transition:box-shadow 0.3s, border 0.3s;
      }
      
      #FeedMe
      {
      position:absolute;
      top:130%;
      left:20%;
      width:90px;
      height:40px;
      font-family:Helvetica;
      font-size:13px;
      background-color:#F8F8F8;
      padding:5px;
      border:solid 5px #53b4fd;
      cursor:pointer;
      }
      
      #FeedMe:hover
      {
      background-color:#53b4fd;
      color: white;
      }
      
      #ResultImg
      {
      position:absolute;
      top:50%;
      left:40%;
      width:100px;
      height:15px;
      }
      
      #randomRestaurantName
      {
      position:absolute;
      top:60%;
      left:40%;
      font-family:Helvetica;
      font-size:30px;
      }
      
      #randomRestaurantPhone
      {
      position:absolute;
      top:70%;
      left:40%;
      font-family:Helvetica;
      font-size:21px;
      }
      
      #randomRestaurantAddress
      {
      position:absolute;
      top:77%;
      left:40%;
      font-family:Helvetica;
      font-size:21px;
      }
      
      #randomRestaurantPrice
      {
      position:absolute;
      top:85%;
      left:40%;
      font-family:Helvetica;
      color: green;
      font-size:21px;
      }
      
      #ratings
      {
      position:absolute;
      top:88%;
      left:55%;
      }
      
      #noMoreResults
      {
      position:absolute;
      top:50%;
      left:40%;
      font-family:Helvetica;
      color: red;
      font-size:30px;
      }
      
      #findOnYelp
      {
      position:absolute;
      top:85%;
      left:60%;
      font-family:Helvetica;
      font-size:20px;
      }
      
      #randomPhotoUrl
      {
      position:absolute;
      top:60%;
      left:73%;
      }
               
      #Regenerating
      {
      position:absolute;
      visibility: hidden;
      top:100%;
      left:55%;
      width:90px;
      height:40px;
      font-family:Helvetica;
      font-size:13px;
      background-color:#F8F8F8;
      padding:5px;
      border:solid 5px #53b4fd;
      cursor:pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      }
      #Regenerating:hover
      {
      background-color:#53b4fd;
      color: white;
      }
      
  body
    a(href='https://www.yelp.com')
      img#YelpLogo(src='/images/Yelp_trademark_RGB_outline.png', style='width:80px;height:50px;')
    img#Location(src='/images/location.jpg', alt='Enter Your Location: ', style='width:180px;height:70px;')
    br
    img#INeed(src='/images/ineed.jpg', alt='Choose a category: ', style='width:170px;height:60px;')

    //form takes user search criteria and submits post request router upon submitting
    form#FormCategories(name='InventoryList', method='post', action='', enctype='application/json')
      input#ZipCode(type='text', onkeypress='validate(event)', name='ZipCode', placeholder='#####', required='', align='right', minlength="5", maxlength="5")
      select#select.bnotes(name='SelBranch', multiple='multiple', size='5')
        option(value='restaurants') All
        option(value='breakfast_brunch') Breakfast
        option(value='coffee') Coffee & Tea
        option(value='tradamerican') American
        option(value='burgers') Burgers
        option(value='desserts') Dessert
        option(value='vegan') Vegan
      input#FeedMe.bnotes(type='submit', name='ViewReport', value='Feed Me!;')
    button#Regenerating(onclick='Regenerate()') Regenerate!

    //tags to be rendered by Yelp search results and displayed on home page
    p#randomRestaurantName
    p#randomRestaurantPhone
    p#randomRestaurantAddress
    p#randomRestaurantImageURL
    p#randomRestaurantCity
    p#randomRestaurantPrice
    p#randomResetaurantImage
    img#ratings
    p#noMoreResults
    p#findOnYelp
    
    a#randomPageLink(href='#')
        img#randomPhotoUrl(src='', style='height:200px;')  
    
    script(language='JavaScript').    
      var testArray=JSON.parse(!{JSON.stringify(matchesArray)});  //receives Yelp response with search results
      while (testArray[index].rating < 3){
        index++;                                                  //go to the next restaurant if rating is below 3
      }

      //renders home page to display information on a random restaurant from response body
      document.getElementById("randomRestaurantName").innerHTML =testArray[index].name;
      document.getElementById("randomRestaurantPhone").innerHTML =testArray[index].display_phone;
      document.getElementById("randomRestaurantAddress").innerHTML =testArray[index].location.display_address;
      document.getElementById("randomRestaurantPrice").innerHTML =testArray[index].price;
      document.getElementById("ratings").src ="/images/large_"+ testArray[index].rating +".png";
      document.getElementById("randomPageLink").href =testArray[index].url;
      document.getElementById("randomPhotoUrl").src =testArray[index].image_url;
      
      index++;
      Regenerating.style.visibility = "visible"; //shows the REGENERATE button when results are displayed          
      
      //This function prevents the user from inputting letters as the zipcode
      function validate(evt){
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode( key );
        var regex = /[0-9]|\\./;
        if( !regex.test(key) ){
            theEvent.returnValue = false;
            if(theEvent.preventDefault) 
                theEvent.preventDefault();
        }
      }
      
      //Regenerate gets a new restaurant to display when regenerate button is clicked
      function Regenerate(){
        var testArray=JSON.parse(!{JSON.stringify(matchesArray)});

        if(index<testArray.length){
        while (testArray[index].rating < 3){
          index++;
          if (index > 49){
            break;
          }
        }
        
        //renders home page to display information on a random restaurant from response body
        document.getElementById("randomRestaurantName").innerHTML =testArray[index].name;
        document.getElementById("randomRestaurantPhone").innerHTML =testArray[index].display_phone;
        document.getElementById("randomRestaurantAddress").innerHTML =testArray[index].location.display_address;
        document.getElementById("randomRestaurantPrice").innerHTML =testArray[index].price;
        document.getElementById("ratings").src ="/images/large_"+ testArray[index].rating +".png";
        document.getElementById("randomPageLink").href =testArray[index].url;
        document.getElementById("randomPhotoUrl").src =testArray[index].image_url;
        index++;
        Regenerating.style.visibility = "visible"; //shows the REGENERATE button when results are displayed
      }
      
        else{
            Regenerating.style.visibility = "hidden"; //hides the REGENERATE button when results done
            document.getElementById("noMoreResults").innerHTML ="No more results matching search criteria";
        }
      }
