doctype html
html
  head
    script.
      var result = [];
      var choice;
      var randomName;
      var matchesArray;
      
      //var rating = testArray[randomIndex].rating;
      var rating;
      //var images = "/images/Powered_By_Yelp.png";
      //var address = "https://www.yelp.com";

      var index=0
      
    title What the Food!?
    meta(charset='windows-1252')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style.
      body
      {
      background: url("/images/wtflogo.jpg");
      background-repeat: no-repeat;
      background-size: 550px 320px;
      background-position: 50% 5%;
      }
      #YelpLogo
      {
      position:absolute;
      top:30%;
      left:60%;
      }
      #Location
      {
      position:absolute;
      top:50%;
      left:20%;
      width:100px;
      height:15px;
      }
      #ZipCode
      {
      position:absolute;
      top:-199%;
      left:0%;
      width:135px;
      height:15px;
      font:Helvetica;
      font-size:15px;
      padding:10px;
      border: solid 5px #53b4fd;
      transition:box-shadow 0.3s, border 0.3s;
      }
      #INeed
      {
      position:absolute;
      top:73%;
      left:20%;
      width:100px;
      height:15px;
      }
      #FormCategories
      {
      position:absolute;
      top:85%;
      left:20%;
      font:Arial;
      font-size:12px;
      text-align:center;
      padding:5px;
      border: solid 5px #53b4fd;
      width:146px;
      transition:box-shadow 0.3s, border 0.3s;
      }
      #FeedMe
      {
      position:absolute;
      top:130%;
      left:20%;
      width:90px;
      height:40px;
      font-family:Helvetica;
      font-size:13px;
      background-color:#F8F8F8;
      padding:5px;
      border:solid 5px #53b4fd;
      cursor:pointer;
      }
      #FeedMe:hover
      {
      background-color:#53b4fd;
      color: white;
      }
      #getResults
      {
      position:absolute;
      top:50%;
      left:40%;
      font-family:Helvetica;
      font-size:20px;
      }
      #ResultImg
      {
      position:absolute;
      top:50%;
      left:40%;
      width:100px;
      height:15px;
      }
      #randomRestaurantName
      {
      position:absolute;
      top:60%;
      left:40%;
      font-family:Helvetica;
      font-size:30px;
      }
      #randomRestaurantPhone
      {
      position:absolute;
      top:70%;
      left:40%;
      font-family:Helvetica;
      font-size:21px;
      }
      #randomRestaurantAddress
      {
      position:absolute;
      top:77%;
      left:40%;
      font-family:Helvetica;
      font-size:21px;
      }
      #randomRestaurantPrice
      {
      position:absolute;
      top:85%;
      left:40%;
      font-family:Helvetica;
      color: green;
      font-size:21px;
      }
      #noMoreResults
      {
      position:absolute;
      top:50%;
      left:40%;
      font-family:Helvetica;
      color: red;
      font-size:40px;
      }
      #findOnYelp
      {
      position:absolute;
      top:85%;
      left:60%;
      font-family:Helvetica;
      font-size:21px;
      }
      
      #Regenerating
      {
      position:absolute;
      visibility: hidden;
      top:95%;
      left:55%;
      width:90px;
      height:40px;
      font-family:Helvetica;
      font-size:13px;
      background-color:#F8F8F8;
      padding:5px;
      border:solid 5px #53b4fd;
      cursor:pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      }
      #Regenerating:hover
      {
      background-color:#53b4fd;
      color: white;
      }
      
  body
    //img#ResultImg(src='/images/result.png', alt='Result: ', style='width:170px;height:60px;')
    
    a(href='https://www.yelp.com')
      img#YelpLogo(src='/images/Yelp_trademark_RGB_outline.png', style='width:80px;height:50px;')
    img#Location(src='/images/location.jpg', alt='Enter Your Location: ', style='width:180px;height:70px;')
    br
    img#INeed(src='/images/ineed.jpg', alt='Choose a category: ', style='width:170px;height:60px;')
    form#FormCategories(name='InventoryList', method='post', action='', enctype='application/json')
      input#ZipCode(type='text', onkeypress='validate(event)', name='ZipCode', placeholder='#####', align='right', required='')
      select#select.bnotes(name='SelBranch', multiple='multiple', size='5')
        option(value='restaurants') All
        option(value='breakfast_brunch') Breakfast
        option(value='coffee') Coffee & Tea
        option(value='tradamerican') American
        option(value='burgers') Burgers
        option(value='desserts') Dessert
        option(value='vegan') Vegan
      input#FeedMe.bnotes(type='submit', name='ViewReport', value='Feed Me!', onclick='GetInventory();')
    button#Regenerating(onclick='Regenerate()') Regenerate!

    p#randomRestaurantName
    p#randomRestaurantPhone
    p#randomRestaurantAddress
    p#randomRestaurantImageURL
    p#randomRestaurantCity
    p#randomRestaurantPrice
    p#randomResetaurantImage
    p#randomRestaurantRating
    p#noMoreResults
    p#findOnYelp
    
    script(language='JavaScript').
     
      var testArray=JSON.parse(!{JSON.stringify(matchesArray)});
      
      document.getElementById("randomRestaurantName").innerHTML =testArray[index].name;
      document.getElementById("randomRestaurantPhone").innerHTML =testArray[index].display_phone;
      document.getElementById("randomRestaurantAddress").innerHTML =testArray[index].location.display_address;
      document.getElementById("randomRestaurantPrice").innerHTML =testArray[index].price;
      document.getElementById("randomRestaurantRating").innerHTML =testArray[index].rating;
      //document.getElementById("randomRestaurantImage").innerHTML = testArray[index]."image_url";
      index++;
      Regenerating.style.visibility = "visible"; //shows the REGENERATE button when results are displayed
      
      document.getElementById("findOnYelp").innerHTML ="Find me on yelp!";
      
      /*var img = new Image(130,30);
      img.src = images;
      img.onclick = function()
      {
          window.location.href = address;
      }
      document.body.appendChild(img);*/
      
      <!--This function prevents the user from inputting letters as the zipcode-->
      function validate(evt)
      {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode( key );
      var regex = /[0-9]|\\./;
      if( !regex.test(key) )
      {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
      }
      }
      
      //GetInventory gets the ZipCode & Categories
      function GetInventory()
      {
        var InvForm = document.forms.InventoryList;
        var SelBranchVal = "";
        var x = 0;
        var results = []; //results meaning the zipcode
        // Get the value of the input field with id="ZipCode"
        //results.push(document.getElementById("ZipCode").value); Displays zip code (for testing purposes)
        if (results[0].length !== 5)
        {
          window.alert("Please enter in a valid zip code");
        }
        else if(results[1].length ===0)
        {
           window.alert("Please select a food category"); 
        }
        else
        {
          for (x=0;x<InvForm.SelBranch.length;x++)
          {
            if (InvForm.SelBranch[x].selected)
            {
              //results.push(InvForm.SelBranch[x].value); Displays category(ies) selected (for testing purposes)
              
            }
          }
          result = results;
          document.getElementById("getResults").innerHTML = result;
      }
      }
      
      //Regenerate gets a new restaurant to display when regenerate button is clicked
      function Regenerate()
      {
        var testArray=JSON.parse(!{JSON.stringify(matchesArray)});
        //var randomIndex = Math.floor(Math.random() * (testArray.length));

        if(index<testArray.length){
        document.getElementById("randomRestaurantName").innerHTML =testArray[index].name;
        document.getElementById("randomRestaurantPhone").innerHTML =testArray[index].display_phone;
        document.getElementById("randomRestaurantAddress").innerHTML =testArray[index].location.display_address;
        document.getElementById("randomRestaurantPrice").innerHTML =testArray[index].price;
        document.getElementById("randomRestaurantRating").innerHTML =testArray[index].rating;
        index++;
        Regenerating.style.visibility = "visible"; //shows the REGENERATE button when results are displayed
      }
      
        else{
            Regenerating.style.visibility = "hidden"; //hides the REGENERATE button when results done
            document.getElementById("noMoreResults").innerHTML ="No more results matching search criteria";
        }
      }
